/* Your custom styles */

.view {
  background: url("pic/atlanta.jpg")no-repeat center center;
  background-size: cover;
  height:90vh;
  opacity: .7;
}



h1.bold{
  font-weight:800;
}
h2.bold{
  font-weight:600;
}

