/* Your custom styles */
.btn2 {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .btn2:hover, .btn2:focus {
    text-decoration: none;
  }
  
  .btn2:focus, .btn2.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .btn2.disabled, .btn2:disabled {
    opacity: 0.65;
  }
  
  .btn2:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  
  .btn2:not(:disabled):not(.disabled):active, .btn2:not(:disabled):not(.disabled).active {
    background-image: none;
  }

  .btn2-joy {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
  }
  
  .btn2-joy:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
  }
  
  .btn2-joy:focus, .btn2-joy.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
  }
  
  .btn2-joy.disabled, .btn2-joy:disabled {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
  }
  
  .btn2-joy:not(:disabled):not(.disabled):active, .btn2-joy:not(:disabled):not(.disabled).active,
  .show > .btn2-joy.dropdown-toggle {
    color: #212529;
    background-color: #d39e00;
    border-color: #c69500;
  }
  
  .btn2-joy:not(:disabled):not(.disabled):active:focus, .btn2-joy:not(:disabled):not(.disabled).active:focus,
  .show > .btn2-joy.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
  }